{% extends 'resume/base.html' %}
{% load static %}

{% block head %}
<!-- IE Fix for HTML5 Tags -->
<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'resume/javascript/jquery.novacancy.js' %}"></script>
<link rel="stylesheet" href="{% static 'resume/css/vacancy.css' %}" type="text/css">
<script type="text/javascript">
	$(document).ready(function() {
		$('#allison').novacancy({
			'reblinkProbability': 0.1,
			'blink': 2,
			'blinkMin': 0.2,
			'blinkMax': 0.5,
			'loopMin': 8,
			'loopMax': 10,
			'color': '#ffffff',
			'glow': ['0 0 80px #ffffff', '0 0 30px #28acff', '0 0 6px #0000ff']
		}); 
		$('#carrigan').novacancy({
			'blink': 1,
			'blinkMin': 0.2,
			'blinkMax': 0.5,
			'off': 0,
			'color': '#ffffff',
			'glow': ['0 0 80px #ffffff', '0 0 30px #28acff', '0 0 6px #0000ff']
		});
		$('#no').novacancy({
			'reblinkProbability': 0.1,
			'blink': 2,
			'blinkMin': 0.2,
			'blinkMax': 0.5,
			'loopMin': 8,
			'loopMax': 10,
			'color': '#ffffff',
			'glow': ['0 0 80px #ffffff', '0 0 30px #28acff', '0 0 6px #0000ff']
		}); 
		$('#vacancy').novacancy({
			'blink': 1,
			'blinkMin': 0.2,
			'blinkMax': 0.5,
			'off': 0,
			'color': '#ffffff',
			'glow': ['0 0 80px #ffffff', '0 0 30px #28acff', '0 0 6px #0000ff']
		});
	});
</script>

<!-- Start AOS -->
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

<!-- Responsive Breakpoints -->
<style type="text/css">
	
</style>
{% endblock head %}

{% block content %}
<div class="container board my-4">
	  <span id="allison">Allison</span>
	  <br>
	  <span id="carrigan">Carrigan</span>
</div>
<div class="container my-4">
	<p id="contact"> acarrigan22@gmail.com | 215.983.5999 </p>
	<h4>Education</h4>
	<div class="row">
		<div class="col-6 text-left">
			<p>Yale University, New Haven, CT - B.A. in Computer Science</p>
		</div>
		<div class="col-6 text-right">
			<p><i>September 2015 – May 2019</i></p>
		</div>
	</div>
	<h4>Technical Experience</h4>
	<div class="row">
		<div class="col-6 text-left">
			<p>Ernst & Young, New York, NY - Technology Consultant</p>
		</div>
		<div class="col-6 text-right">
			<p><i>October 2019 - Present</i></p>
		</div>
	</div>
	<div class="row">
		<div class="col-6 text-left">
			<p>Under Armour, Inc., Baltimore, MD - Business Intelligence Intern</p>
		</div>
		<div class="col-6 text-right">
			<p><i>May 2018 - August 2018</i></p>
		</div>
	</div>
	<h4>Extracurriculars</h4>
	<div class="row">
		<div class="col-6 text-left">
			<p>Yale Varsity Lacrosse, New Haven, CT - Goalie</p>
		</div>
		<div class="col-6 text-right">
			<p><i>August 2015 - April 2017</i></p>
		</div>
	</div>
	<div class="row">
		<div class="col-6 text-left">
			<p>Yale Varsity Field Hockey, New Haven, CT - Forward</p>
		</div>
		<div class="col-6 text-right">
			<p><i>August 2016 - November 2016</i></p>
		</div>
	</div>
</div>
<div class="container mt-2 mb-5 text-center">
	<p>Scroll Down</p>
	<i class="fa fa-angle-double-down fa-2x"></i>
</div>
<br>
<br>
<br>
<div class="container my-5">
	<h2 class="section-title">Projects</h2>
	<div class="row" data-aos="fade-up-left">
		<div class="col-md-3 text-left">
			<p><a href="https://house-cat.herokuapp.com/" target="_blank">House Cat</a></p>
		</div>
		<div class="col-md-9">
			<p>House cat is an independent event promotion, production & artist management company based in Philadelphia, PA. Founded in 2018 by Rebecca Aronow after her move from State College to Philly, House Cat curates inclusive, accessible, safer space events in an effort to combat the lack of representation and exclusivity in many music & art spaces. We also strive to support important social justice causes, both locally and nationally, through frequent charity & community events. This database provides information about artists who reflect the principles & ideals House Cat promotes.</p>
		</div>
	</div>
	<br>
	<div class="row" data-aos="fade-up-right">
		<div class="col-md-3 text-left">
			<p><a href="#" target="_blank">Team Sites</a></p>
		</div>
		<div class="col-md-9">
			<p>Description which can take up multiple lines. Blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah.</p>
		</div>
	</div>
</div>
<div class="board mb-4 text-center">
	<span id="no">The &nbsp; &nbsp; &nbsp;</span>
	<span id="vacancy">End</span>
</div>
{% endblock content %}
{% block close %}
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
	AOS.init({
	  // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
	  offset: 200, // offset (in px) from the original trigger point
	  delay: 50, // values from 0 to 3000, with step 50ms
	  duration: 1000, // values from 0 to 3000, with step 50ms
	  easing: 'ease', // default easing for AOS animations
	  once: false, // whether animation should happen only once - while scrolling down
	  mirror: false, // whether elements should animate out while scrolling past them

	});
</script>
{% endblock close %}